
.titleUp h2{
    font-weight: 700;
    font-family: KalamehWeb_Bold;
    direction: rtl;
    margin: 2rem;
}

.order {
    width: 100%;
    /* ! hazv shavad */
    margin-bottom: 20rem;
}

.order table{
    width: calc(100% - 8rem);
    direction: rtl;
    border-collapse: collapse;
    margin: 4rem;
}


.order table tr:first-child{
    height: 5rem;
    border-bottom: 1px solid var(--primaryColor);
}

.order table tr td,
.order table tr:not(:first-child)
{
    height: 12rem;
}
.order table tr
{
    border-bottom: 1px solid var(--primaryColor);
}

.order table tr th{
    font-weight: 700;
    font-family: KalamehWeb_Bold;
    direction: rtl;
    margin: 2rem;
}
.order table tr td{
    text-align: center;
    font-family: KalamehWeb_Regular;
}
.order table tr td div{
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.order table tr td div a{
    cursor: pointer;
}
.order table tr td img{
    height: 8rem;
    width: 8rem;
}

.order table tr td .number{
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* top: 20%;
    left: 50%; */
    width: 17vh;
    height: 7vh;
    /* transform: translate(-50%, -50%); */
    transform: translateX(4%);
    border: 1px solid var(--primaryColor);
    border-radius: 0px;
}



/* .order table tr td .number input {
    border: none;
    top: 50%;
    left: 0;
    width: 69%;
    z-index: -2;
    outline: none;
    font-family: "samim";
    padding-left: 5%;
    font-size: 150%;
} */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order table tr td .number::before {
    content: '';
    height: 1px;
    width: 2rem;
    background-color: var(--primaryColor);
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    /* position: relative; */
    right: 0;
}

.order table tr td .number::after {
    content: '';
    height: 6.8vh;
    width: 1px;
    background-color: var(--primaryColor);
    /* transform: translateX(-2rem); */
    position: absolute;
    right: 2rem;
    /* position: relative; */
}




.order table tr td .number .up {
    position: absolute;
    right: 0rem;
    height: 100%;
    width: 2rem;
}

.order table tr td .number .up .BCdown,
.order table tr td .number .up .BCup {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}

.order table tr td .number .up .BCdown:hover,
.order table tr td .number .up .BCup:hover {
    background-color: var(--orange);
}

.order>p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: KalamehWeb_Bold;
    margin-bottom: 4rem; 
}

.order .product_price_sum{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    font-family: KalamehWeb_Bold;    
}

.order .product_price_sum>p{
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: KalamehWeb_Bold;
     
}
/* ! ba router avaz shavad */
.order>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.order>.update{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 0;
}
.order>.update>button{
    margin-right: 4rem;
}
.order>.update>button{
    background-color: green;
}
.order>.update>button:hover {
    font-weight: 700;
    background-color: var(--primaryColor);
    color: var(--black);
}
.order>div>button{
    display: inline-block;
    font-weight: 700;
    font-family: KalamehWeb_Bold;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primaryColor);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;   
}

.order>div>button:focus {
    outline: none;
}

.order>div>button:hover {
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
}

.error p{
    background-color: var(--orange);
    color: var(--primaryColor);
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1.5rem;
}