.productList{
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: auto;
}


.columns div h2 {
    font-weight: 700;
    font-family: KalamehWeb_Bold;
    direction: rtl;
    margin: 2rem;
}


@media only screen and (max-width: 768px) {
    .productList{
        grid-template-columns: auto auto;
    }}